aside.main-sidebar.sidebar-dark-indigo.elevation-4
	a.brand-link(href="/transaction/index")
		img.brand-image.img-circle.elevation-3(src="/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo")
		span.brand-text.font-weight-light
			| Pos System
	div.sidebar
		div.user-panel.mt-3.pb-3.mb-3.d-flex
			div.image
				img.img-circle.elevation-2(src="/adminlte/dist/img/user2-160x160.jpg" alt="User image")
			div.info
				a.d-block(href="/profile")
					| #{req.user.name}
		nav.mt-2
			ul.nav.nav-pills.nav-sidebar.flex-column.nav-child-indent(data-widget="treeview" role="menu" data-accordion="false")
				if(req.user.role == "admin")
					li.nav-item
						a.nav-link(href="#")
							i.nav-icon.fab.fa-adversal
							p News
							i.fas.fa-angle-left.right
						ul.nav.nav-treeview
							li.nav-item 
								a.nav-link(href="/news_category/index")
									i.nav-icon.fas.fa-list
									p News Category
							li.nav-item 
								a.nav-link(href="/news_category/index")
									i.nav-icon.fas.fa-list
									p List
					li.nav-item
						a.nav-link(href="/category/index")
							i.nav-icon.fas.fa-list
							p Category
					
				else
					//- li.nav-item
					//- 	a.nav-link(href="#")
					//- 		i.nav-icon.fab.fa-adversal
					//- 		p Transaction
					//- 		i.fas.fa-angle-left.right
					//- 	ul.nav.nav-treeview
					//- 		li.nav-item 
					//- 			a.nav-link(href="/transaction/index")
					//- 				i.nav-icon.fas.fa-stream
					//- 				p List
					//- 		li.nav-item 
					//- 			a.nav-link(href="/transaction/summary")
					//- 				i.nav-icon.fas.fa-chart-area
					//- 				p Summary